html,
body {
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-weight: 400;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1480px;
  margin: 0px auto;
  padding-inline: 15px;
}
.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: inherit;
}
